.header{

  padding: 100px;
  color:rgb(233, 98, 8);
 font-size: 40px;
  font-weight: 900px;
  text-align:center;
  background-image: url('car.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}